.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: rem-calc(3);
  border: none;
}

.button-arrow {
  text-transform: uppercase;
  font-size: rem-calc(14);
  background: none !important;

  &::after {
    content: '';
    background-image: url('../images/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: rem-calc(16);
    height: rem-calc(8);
    margin-left: rem-calc(12);
  }
  &.success {
    &:hover {
      border: 2px solid $success-color !important;
      color: $success-color !important;
      opacity: .7;
    }
  }

  @extend .hollow
}


.wp-block-button.is-style-outline, .wp-block-button.is-style-arrow-reverse {
  > a.wp-block-button__link {
    background: transparent;
    text-transform: uppercase;
    &.has-primary-background-color {
      border-color: $primary-color;
    }
    &.has-primary-color::after {
        content: '';
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(10);
        margin-top: rem-calc(5);
        margin-left: rem-calc(15);
        background: no-repeat center url('../images/arrow-right-primary.svg');
    }
    &.has-primary-color:hover {
      color: $primary-color;
    }
    &.has-secondary-background-color {
      border-color: $secondary-color;
    }
    &.has-secondary-color::after {
      content: '';
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(10);
      margin-top: rem-calc(5);
      margin-left: rem-calc(15);
      background: no-repeat center url('../images/arrow-right-secondary.svg');
    }
    &.has-secondary-color {
      color: $secondary-color;
    }
    &.has-success-background-color {
      border-color: $success-color;
    }
    &.has-success-color::after {
      content: '';
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(10);
      margin-top: rem-calc(5);
      margin-left: rem-calc(15);
      background: no-repeat center url('../images/arrow-right-success.svg');
    }
    &.has-success-color:hover {
      color:$success-color;
    }
    &.has-warning-background-color {
      border-color: $warning-color;
    }
    &.has-warning-color::after {
      content: '';
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(10);
      margin-top: rem-calc(5);
      margin-left: rem-calc(15);
      background: no-repeat center url('../images/arrow-right-warning.svg');    
    }
    &.has-warning-color {
      color: $warning-color;
    }
    &.has-alert-background-color {
      border-color: $alert-color;
    }
    &.has-alert-color::after {
      content: '';
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(10);
      margin-top: rem-calc(5);
      margin-left: rem-calc(15);
      background: no-repeat center url('../images/arrow-right-alert.svg');    
    }
    &.has-alert-color {
      color: $alert-color;
    }
    &.has-massaro-blue-background-color {
      border-color: $massaro-blue;
    }
    &.has-massaro-blue-color::after {
      content: '';
      display: inline-block;
      width: rem-calc(20);
      height: rem-calc(10);
      margin-top: rem-calc(5);
      margin-left: rem-calc(15);
      background: no-repeat center url('../images/arrow-right-massaro-blue.svg');    
    }
    &.has-massaro-blue-color {
      color: $massaro-blue;
    }
    &.has-white-background-color {
      border-color: $white;
    }    
    &.has-white-color::after {
        content: '';
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(10);
        margin-top: rem-calc(5);
        margin-left: rem-calc(15);
        background: no-repeat center url('../images/arrow-right-white.svg');
    }
    &.has-white-color:hover {
      color: $white;
    }
    &.has-lime-color {
      color: $lime-green;
    }
    &.has-lime-background-color {
      background-color: $lime-green;
    }
   }
}

.wp-block-button:hover {
  opacity: 0.65;
}

.large-button .wp-block-button__link {
  text-transform: uppercase;
  padding-top: rem-calc(17);
  padding-bottom: rem-calc(17);
  padding-right: rem-calc(70);
  padding-left: rem-calc(70);
}

.button {
  font-weight: $global-weight-bold;
}

p.p-with-arrow-link a:after{
  content: '';
  display: inline-block;
  width: rem-calc(20);
  height: rem-calc(10);
  margin-top: rem-calc(5);
  margin-left: rem-calc(10);
  margin-right: rem-calc(10);
  background: no-repeat center url('../images/arrow-right-white.svg');
}