// General form style
body .gform_wrapper {
    form {
        h3.gform_title {
            text-transform: uppercase;
            font-size: 1rem;
        }
        ul li.gfield {
            margin-top: 0;
            &.gfield_error {
                background-color: transparent !important;
                padding-bottom: 0 !important;
                margin-bottom: 0 !important;
                margin-right: 0 !important;
                border-width: 0 !important;
                max-width: inherit !important;
                .validation_message {
                    display: none;
                }
            }
        }
        input, textarea {
            background: #F2F2F2;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
            padding-right: rem-calc(17);
            padding-left: rem-calc(17);
        }
        label.gfield_label {
            font-weight: $global-weight-normal;
        }
        .gform_footer {
            margin-top: 0;
            input[type="submit"] {
                background-color: $secondary-color;
                color: $black;
                text-transform: uppercase;
                font-weight: $global-weight-bold;
                font-size: rem-calc(14);
            }
        }
    } 
}

// Specific form style

.subscribe-form {
    input:not([type="submit"]) {
        background: $white;
        margin-bottom: rem-calc(5);
    }
}

body .contact-us-form_wrapper {
    margin-bottom: 0;
    .contact-us-form {
        background-color: $massaro-blue;
        padding-top: rem-calc(20);
        padding-right: rem-calc(15);
        padding-bottom: rem-calc(20);
        padding-left: rem-calc(15);
        @include breakpoint(medium) {
            max-width: rem-calc(600);
            padding-right: 0;
        }
        @include breakpoint(large) {
            padding-top: rem-calc(40);
            padding-bottom: rem-calc(40);
            padding-right: rem-calc(35);
            padding-left: rem-calc(35);
        }
        label.gfield_label, label {
            color: $white;
        }
        .gfield_required {
            color: $white;
        }
        textarea {
            max-height: rem-calc(150);
            @include breakpoint(xlarge) {
                max-height: rem-calc(230);
            }
        }
    }
}

.validation_error {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
}


.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    color: #FF0000 !important;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
    border-color: #FF0000 !important;
}

.gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
    padding-right: 16px !important;
}

.gform_wrapper .gfield_error .gfield_label {
    color: #FF0000 !important;
}