.main-content-massaro-fable {
    background-color: #F2F9FF;
}

@include breakpoint (medium) {
    .page-template-massaro-fable {
        .top-bar-wrapper {
            background-color: transparent;
            box-shadow: none;
        }
    }
}