.archive-hero {
  h1, p {
    color: $white;
  }
  background-color: $primary-color;
  background-repeat: repeat;
  background-image: url('../images/square_grid.png');
  background-size: auto;
  padding-top: rem-calc(67);
}
.resources-nav-container {
  margin-top: rem-calc(60);
  &:after {
    content: '';
    width: 100%;
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
    border-bottom: 1px solid $medium-gray;
    padding-bottom: rem-calc(30);
    margin-bottom: rem-calc(60);
  }

  .resources-nav-search {
    form {
      position: relative;
      .input-group-field {
        padding-left: rem-calc(45);
      }
      .input-group-button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        &::after {
          content: '';
          background-image: url('../images/search-icon.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          width: rem-calc(20);
          height: rem-calc(20);
          margin-left: rem-calc(12);
          position: absolute;
          left: 0;
        }
        input[type=submit] {
          color: transparent;
          background: transparent;
          padding: 0;
          z-index: 10;
        }
      }
    }

  }
  .resources-nav {
    display: flex;
    margin-bottom: rem-calc(16);
    @include breakpoint(medium) {
      justify-content: center;
      margin-bottom: 0;
    }
    .menu-item {
      a {
        color: $medium-gray;
      }
      &.is-active {
        a {
          font-weight: $global-weight-bold;
          color: $massaro-blue;
          text-decoration: underline;
          background: transparent,
         }
      }
    }
  }
  .resources-nav-filter {
    .filter-button {
      font-weight: bold;
      border: 2px solid $secondary-color;
      background-color: transparent;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      &.hover {
        background-color: rgba(191, 209, 3, 0.35);
        color: $secondary-color;
        &::before {
          background-image: url('../images/filters-icon-green.svg');
        }
      }
      &::before {
        content: '';
        background-image: url('../images/filters-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(20);
        margin-right: rem-calc(10);
      }
    }
    .filter-menus-container {
      border: 1px solid $massaro-blue;
      max-width: rem-calc(300);
      @include breakpoint(medium) {
        max-width: unset;
      }
      .resources-filter {
        display: flex;
        flex-direction: column;
        @include breakpoint(medium) {
          flex-direction: row;
        }
        .menu-item {
          flex-basis: 50%;
          > a {
            font-weight: $global-weight-bold;
            color: $massaro-blue;
            background: transparent;
          }
          .sub-menu {
            list-style-type: none;
            margin-left: 0;
            .menu-item {
              a {
                color: $medium-gray;
                padding-top: rem-calc(7);
                padding-bottom: rem-calc(7);
                font-weight: $global-weight-normal;
              }
              &.is-active {
                a {
                  background: transparent;
                  color: $success-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.keep-in-touch-section-archive {
  &:before {
    content: '';
    width: 100%;
    border-bottom: 1px solid $medium-gray;
    padding-bottom: rem-calc(30);
    margin-bottom: rem-calc(60);
    display: block;
    margin-top: rem-calc(35);
  }
  .archive-footer-top-cell {
    margin-bottom: 40px;
    .top-number {
      background-color: rgba($color: $success-color, $alpha: 0.25);
      height: rem-calc(40);
      h4 {
        font-size: rem-calc(40);
        position: relative;
        bottom: rem-calc(-10);
        left: rem-calc(30);
      }
    }
    .textwidget {
      margin-top: rem-calc(35);
    }
  }
}