// featured work post type
.featured-work-header {
    background-repeat: repeat;
    background-position: center;
    position: relative;
    background-color: $massaro-blue;
    background-image: url('../images/square_grid.png');
    h1 {
        font-size: rem-calc(30);
        @include breakpoint (medium) {
            font-size: rem-calc(40);
        }
    }
    > * {
        color: $white;
    }
    .featured-work-header-inner {
        min-height: rem-calc(400);
        align-items: center;
        position: relative;
        z-index: 20;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem-calc(128);
        @include breakpoint (medium) {
            min-height: rem-calc(515);
            flex-direction: row;
            padding-bottom: 0;
        }  
        .featured-work-header-logo {
            filter: brightness(0) invert(1);
            margin-top: rem-calc(25);
            @include breakpoint (medium) {
                text-align: right;
                margin-top: 0;
            }
            img {
                max-width: 55%;
            }
        }
    }
    .green-meta {
        color: $secondary-color;
        font-style: italic;
    }
    .featured-work-meta {
        margin-top: rem-calc(30);
        > span:first-of-type {
            &::after {
                content: '■'; 
                display: inline-block;
                font-style: rem-calc(12);
                margin-top: 0;
                margin-right: rem-calc(8);
                margin-bottom: 0;
                margin-left: rem-calc(10);
                color: $secondary-color;
            }
        }
    }
    &.event {
        .featured-work-header-inner {
            min-height: rem-calc(300);
            @include breakpoint (medium) {
                min-height: rem-calc(375);
            }  
        }
    }
}

.job-listing-header {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    background-color: $massaro-blue;
    background-image: url('../images/header_jobs.jpg');
    .job-listing-header-inner {
        min-height: rem-calc(600);
        align-items: center;
        position: relative;
        z-index: 20;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem-calc(128);
    }
    .green-meta {
        color: $secondary-color;
        font-style: italic;
    }
    .featured-work-meta {
        margin-top: rem-calc(30);
        > span:first-of-type {
            &::after {
                content: '■'; 
                display: inline-block;
                font-size: rem-calc(12);
                margin-top: 0;
                margin-right: rem-calc(8);
                margin-bottom: 0;
                margin-left: rem-calc(10);
                color: $secondary-color;
            }
        }
    }
    &.event {
        .featured-work-header-inner {
            min-height: rem-calc(300);
            @include breakpoint (medium) {
                min-height: rem-calc(375);
            }  
        }
    }
}

.main-content-single {
    background: $white;
    position: relative;
    padding-top: rem-calc(35);
    width: 100%;
    &:not(.event) {    
        margin-top: rem-calc(-128);
        padding-left: rem-calc(30);
        padding-right: rem-calc(30);
        @include breakpoint(medium) {
            padding-left: rem-calc(60);
            padding-right: rem-calc(60);
        }
    }
    .post-content {
        p {
            line-height: rem-calc(24);
        }
    }
    .single-resources-top-bar {
        &:after {
            content: '';
            width: 100%;
            display: block;
            border-bottom: 1px solid $medium-gray;
            margin-top: rem-calc(16);
            margin-bottom: rem-calc(20);
            @include breakpoint(medium) {
                margin-left: rem-calc(15);
                margin-right: rem-calc(16); 
            }
        }
        .read-time {
            display: flex;
            @include breakpoint(medium) {
                align-items: center;
            }
            span {
                color: $medium-gray;
            }
            &::before {
                content: '';
                background-image: url('../images/time-icon.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                width: rem-calc(20);
                height: rem-calc(20);
                margin-right: rem-calc(15);
            }
        }

        .social-share {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 0;

            .share-icons {
                list-style: none;
                margin-left: 0;
                margin-bottom: 0;
                li {
                    display: inline-block;
                    &:not(:first-of-type) {
                        margin-left: rem-calc(16);
                    }
                    .share-icon {
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        height: rem-calc(20);
                        width: rem-calc(20);
                        display: block;
                    }
                    .linkedin {
                        background-image: url('../images/linkedin-icon-grey.svg');
                    }
                    .twitter {
                        background-image: url('../images/twitter-icon-grey.svg');
                    }
                }
            }
        }
    }
}
.main-content-single.event {
    .event-box {
        margin-top: rem-calc(-100);
        width: rem-calc(250);
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
        padding-right: rem-calc(40);
        padding-left: rem-calc(40);
        background: $white;
        border: 2px solid $massaro-blue;
        text-align: center;
        margin-bottom: rem-calc(40);
        @include breakpoint(large) {
            margin-bottom: 0;
        }
        .month {
            text-transform: uppercase;
            font-size: rem-calc(26);
            margin-bottom: 0;
        }
        .days {
            font-size: rem-calc(56);
            font-weight: bold;
        }
        .location {
            font-size: rem-calc(26);
            font-weight: bold;
            align-items: center;
            display: flex;
            flex-direction: column;
            &:before {
                content: '';
                border-top: 2px solid $massaro-blue;
                display: block;
                width: rem-calc(60);
                margin-bottom: rem-calc(16);
            }
        }
    }
    .event-details {
        margin-top: rem-calc(40);
    }
    .edit-link {
        display: block;
    }
}

// default single 
.default-single-top {
    padding-top: rem-calc(85);
    @include breakpoint(medium) {
        padding-top: rem-calc(120);
    }
    .go-back {
        text-transform: uppercase;
        color: $massaro-blue;
        display: block;
    }
    h1 {
        font-size: rem-calc(40);
    }
    .single-meta {
        > span:first-of-type {
            width: 100%;
            display: block;
            @include breakpoint(medium) {
                width: auto;
                display: inline-block;
            }
            &::after {
                content: '■'; 
                display: inline-block;
                font-size: rem-calc(12);
                margin-top: 0;
                margin-right: rem-calc(8);
                margin-bottom: 0;
                margin-left: rem-calc(10);
            }
        }
        > span:last-of-type {
            a {
                color: $success-color;
                font-weight: $global-weight-bold;
                text-decoration: underline;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

// author single
.author-hero {
    background-color: scale-color($success-color, $lightness: 90%);
    .g-hero-inner {
        min-height: rem-calc(400);
        padding-bottom: 0;
        max-height: none;
        padding-top: rem-calc(90);
    }
    .author-img {        
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .author-img-overlay {
            background-image: url('../images/cubes-image.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        img {
            width: auto;
            height: auto;
            max-height: rem-calc(450);
            margin-top: auto;
        }
    }
}
.author-content {
    margin-top: rem-calc(60);
}
.author-sitebar {
    margin-top: rem-calc(40);
    @include breakpoint(medium) {
        margin-top: 0;
    }
    section {
        margin-bottom: rem-calc(45);
        .sitebar-section-title {
            margin-bottom: rem-calc(15);
        }
        &.contact {
            .linkedin-profile {
                display: flex;
                align-items: center;
                color: $success-color;
                font-weight: $global-weight-bold;
                text-decoration: underline;
                margin-bottom: rem-calc(15);
                &::before {
                    content: '';
                    background-image: url('../images/linkedin-icon.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: rem-calc(30);
                    height: rem-calc(30);
                    margin-right: rem-calc(15);
                }
            }
            .email {
                display: flex;
                align-items: center;
                color: $success-color;
                font-weight: $global-weight-bold;
                text-decoration: underline;
                &::before {
                    content: '';
                    background-image: url('../images/mail-icon.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    width: rem-calc(30);
                    height: rem-calc(30);
                    margin-right: rem-calc(15);
                }
            }
        } 

    }
}
.latest-posts-container {
    &:before {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 1px solid $medium-gray;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(60);
    }
    .latest-posts-title {
        text-align: center;
        margin-bottom: rem-calc(40);
    }
}

.section-title {
    text-transform: uppercase;
    margin-bottom: rem-calc(10);
}

.post-author-info-container, .single-bottom-bar {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
    &:before {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 1px solid $medium-gray;
        margin-bottom: rem-calc(16);
        @include breakpoint(medium) {
            margin-left: rem-calc(15);
            margin-right: rem-calc(16); 
        }
    }

    &:after {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 1px solid $medium-gray;
        margin-top: rem-calc(16);
        @include breakpoint(medium) {
            margin-left: rem-calc(15);
            margin-right: rem-calc(16); 
        }
    }

    .author-image {
        margin-bottom: rem-calc(10);
        max-width: 50%;
        @include breakpoint(medium) {
            margin-bottom: 0;
            max-width: 100%;
        }
    }

    .author-info {
        .section-title {
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .author-name { 
            margin-bottom: 0;
        }
        .job-position {
            color: $medium-gray;
            font-style: italic;
        }
    }

    .share-container {
        display: flex;
        flex-direction: column;
        margin-top: rem-calc(10);
        @include breakpoint(medium) {
            align-items: flex-end;
            margin-top: 0;
        }

        .share-icons {
            list-style: none;
            margin-left: 0;
            li {
                display: inline-block;
                &:not(:first-of-type) {
                    margin-left: rem-calc(16);
                }
                .share-icon {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: rem-calc(20);
                    width: rem-calc(20);
                    display: block;
                }
                .facebook {
                    background-image: url('../images/facebook-icon.svg');
                }
                .linkedin {
                    background-image: url('../images/linkedin-icon-blue.svg');
                }
                .twitter {
                    background-image: url('../images/twitter-icon.svg');
                }
                .email {
                    background-image: url('../images/mail-icon-blue.svg');
                }
                .print {
                    background-image: url('../images/print-icon.svg');
                    cursor: pointer
                }
            }
        }
    }

    &.event {
        &:before {
            margin-bottom: rem-calc(35);
        }
        &:after {
            margin-top: rem-calc(35);
        }
        .button-arrow {
            margin-bottom: 0;
        }
        .share-container {
            flex-direction: row;
            align-items: center;
            margin-top: rem-calc(30);
            @include breakpoint(medium) {
                justify-content: flex-end;
                margin-top: 0;
            }
            .section-title {
                margin-bottom: 0;
                margin-right: rem-calc(16);
            }
            .share-icons {
                margin-bottom: 0;
            }
        }
    }
    &.featured-work {
        .share-container {
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            margin-bottom: rem-calc(16);
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
            .section-title {
                margin-bottom: 0;
                margin-right: rem-calc(16);
            }
            .share-icons {
                margin-bottom: 0;
            }
        }
        .next-post-link {
            a {
                background: $success-color;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                padding: rem-calc(25);
                color: $white;
                font-weight: $global-weight-bold;
            
                &::after {
                    content: '';
                    width: rem-calc(18);
                    height: rem-calc(12);
                    margin-right: rem-calc(16);
                    position: relative;
                    margin-left: rem-calc(8);
                    display: inline-block;
                    background-image: url('../images/arrow-right-white.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                } 
            }
        }
    }
}


.single-post-taxonomies {
    margin-bottom: rem-calc(60);
    .taxonomies-container {
        list-style: none;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .taxonomy {
            background-color: $light-gray;
            padding-left: rem-calc(12);
            padding-right: rem-calc(12);
            padding-top: rem-calc(6);
            padding-bottom: rem-calc(6);
            margin-bottom: rem-calc(10);
            text-align: center;
            width: 100%;
            @include breakpoint(medium) {
                width: auto;
                &:not(:last-of-type) {
                    margin-right: rem-calc(10);
                }
            }
            a {
                color: $body-font-color;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    .categories-container {
        .taxonomies-container {
            .taxonomy {
                @include breakpoint(large) {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
    .tags-container {
        .taxonomies-container {
            @include breakpoint(large) {
                max-width: 70%;
            }
        }
    }
}

// main job listings
.main-content-single-job-listings {
    margin-top: rem-calc(-120);
    position: relative;
    z-index: 10;
    h1 {
        font-size: 3rem;
        font-weight: $global-weight-bold;
    }
    
    h3 {
        margin-top: rem-calc(30);
    }
    
    .entry-content {
        > *:not(.full-width) {
            max-width: $global-width - rem-calc(30);
            margin-left: auto;
            margin-right: auto;
            background: $white;
            @include breakpoint (medium) {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
            }
        }
        .full-width .wp-block-group__inner-container {
            max-width: $global-width - rem-calc(30);
            margin-left: auto;
            margin-right: auto;            
            @include breakpoint (medium) {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
            }
        }
    }
}

.single {
    form {
        input:not([type="submit"]) {
            box-shadow: none;
            border: none;
            background: $light-gray;
        }
    }

    .gform_confirmation_wrapper  {
        .button {
            &:hover {
                background-color: $secondary-color;
                opacity: 0.8;
                color: $massaro-blue;
            }
        }
    }
}