// Heading Styles 
h2.is-style-green {
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: $global-weight-bold;
}

// Button Styles
div.is-style-arrow-down.wp-block-button {
    a.wp-block-button__link {
        text-transform: uppercase;
        color: #A5A5A6;
        background-color: transparent;
        padding-left: rem-calc(10);
        font-weight: $global-weight-bold;
        font-size: rem-calc(16);
        padding: 0;
        &::before {
            content: '';
            width: rem-calc(10);
            height: rem-calc(16);
            margin-right: rem-calc(16);
            position: relative;
            top: rem-calc(2);
            display: inline-block;
            background-image: url('../images/arrow-down.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: top .15s ease-out;
        }
        &:hover {
            opacity: 0.8;
            &::before {
                top: rem-calc(5);
                transition: top .15s ease-in;
            }
        }
    }
}
.is-style-arrow-reverse {
    @extend .is-style-outline;
    a.has-success-background-color {
        border-color: $success-color;
    }
      a.has-success-color::before {
        content: '';
        display: inline-block;
        width: rem-calc(20);
        height: rem-calc(10);
        margin-top: rem-calc(5);
        margin-left: rem-calc(10);
        margin-right: rem-calc(10);
        background: no-repeat center url('../images/arrow-right-success.svg');
        transform: scale(-1);
      }
      a.has-success-color::after { 
        content: none !important;
      }
}

// image styles
.is-style-popout-left {
    @include breakpoint(medium) {
        float: right;
        > img {
            width: 40vw;
            max-width: rem-calc(1300);
        }
    }

}
.is-style-stretch {
    width: 100%;
    >img {
        width: 100%;
    }
}
.is-style-grid-lblue-background {
    background-image: url('../images/square_grid_lightblue.svg');
    background-repeat: repeat;
    position: relative;
}

.is-style-grid-green-background {
    background-image: url('../images/square_grid_green.svg');
    @media print {
        background-image: url('../images/square_grid_green.svg');
    }
    background-repeat: repeat;
    position: relative;
    @include breakpoint (medium) {
        &::after {
            content: '';
            background-image: url('../images/pattern_sqared_green.svg');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }
        .wp-block-group__inner-container, .wp-block-columns {
            position: relative;
            z-index: 99;
        }
    }
}
.is-style-grid-turquoise-background {
    background-image: url('../images/square_grid_turquoise.svg');
    background-repeat: repeat;
}

// group
.is-style-center-inside-group {
    margin-top: auto;
    .wp-block-group__inner-container {
        display: flex;

    }
}

.is-style-green-paragraph {
    color: $primary-color;
}

.home .g-hero.is-style-contain-image {
    background-position: 90% bottom;
    background-size: rem-calc(340);
    .g-hero-inner {
        padding-bottom: 100%;
        padding-top: 90px;
        max-height: none;
        @include breakpoint (medium) {
            background-size: rem-calc(475);
            padding-bottom: 0;
            padding-top: 0;        
        }        
    }
    @include breakpoint (medium) {
        background-size: rem-calc(475);
    }
    @media only screen and (min-width: 1600px) {
        background-position: 80% bottom;
    }
    @media only screen and (min-width: 1900px) {
        background-position: 66% bottom;
    }
}

.capabilities-boxes  {
    @media screen\0 { 
        .wp-block-media-text  { 
            display: -ms-flexbox;
        } 
    }
}
.why-work-with-us {
    @media screen\0 { 
        .wp-block-media-text  { 
            display: -ms-flexbox;
            .wp-block-media-text__media {
                img {
                    width: 90px;
                }
            }
        } 
    }
}