/*
Frontend styles for gutenberg blocks
*/

/** === Base Color Palatte === */
@include g-color-classes-base;

/** === Button === */
.wp-block-button {
	&.aligncenter {
		display: flex;
		justify-content: center;
	}

	// add general foundation button styling
	.wp-block-button__link {
		@extend .button;
		@include g-color-classes-and;
	}
	
	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link {
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
    // background: transparent;
    .wp-block-button__link{
      // background: transparent;
    }
	}
}

/** === File === */
.wp-block-file .wp-block-file__button{
  @include button();
}


.full-width-guttenberg-wrapper {
	width: 100%;
	overflow: hidden;
  > *:not(.full-width):not(.g-hero):not(.has-background):not(.is-style-stretch) {
		width: calc(100% - 30px);
		margin-left: rem-calc(15);
		margin-right: rem-calc(15);
	}
	> div, > section, > article, > main, > aside {
		&.wp-block-kadence-rowlayout {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			display: block;
			> .kt-row-layout-inner {
				padding-left: rem-calc(15);
				padding-right: rem-calc(15);
			}
		}
	}

	@include breakpoint (xlarge) {
		overflow: hidden;
		width: 100%;
    > *:not(.full-width):not(.g-hero):not(.has-background):not(.is-style-stretch) {
			max-width: $global-width - rem-calc(30);
			margin-left: auto;
			margin-right: auto;
    }
    // contain inner for groups with backgrounds
    > .wp-block-group.has-background {
      > .wp-block-group__inner-container {
        max-width: $global-width - rem-calc(30);
        margin-left: auto;
        margin-right: auto;
      }
    }
	}
	> .grid-container > .listing-calendar {
		padding-left: rem-calc(5);
		padding-right: rem-calc(5);
	}
}

.button-group {
  > .wp-block-group__inner-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include breakpoint (medium) {
		justify-content: stretch;
	}
    > .wp-block-button {
		margin-bottom: rem-calc(15);
		margin-right: rem-calc(5);
		@include breakpoint (medium) {
		  margin-right: rem-calc(20);
		  margin-bottom: 0;
	  }
    }
  }
}

.has-massaro-blue-background-color {
	background-color: $massaro-blue;
}

.wp-block-group {
	@include breakpoint(small down) {
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
    }
}