.italic {
    font-style: italic;
}

.m-t-auto {
    margin-top: auto;
}
.no-m-r-mobile {
    @include breakpoint(small down) {
        margin-right: 0 !important;
    }
}
.no-m-l-mobile {
    @include breakpoint(small down) {
        margin-left: 0 !important;
    }
}
.no-p-r-mobile {
    @include breakpoint(small down) {
        padding-right: 0 !important;
    }
}
.no-p-l-mobile {
    @include breakpoint(small down) {
        padding-left: 0 !important;
    }
}
.no-m-r-mobile {
    @include breakpoint(small down) {
        margin-right: 0 !important;
    }
}
.no-m-l-mobile {
    @include breakpoint(small down) {
        margin-left: 0 !important;
    }
}

.p-l-0 > a.wp-block-button__link {
    padding-left: 0;
}

.m-t-5 {
    margin-top: rem-calc(5);
}

.negative-m-l-30 {
    margin-left: rem-calc(-30);
}
.negative-m-t-30 {
    margin-top: rem-calc(-30);
}
.negative-m-t-45 {
    margin-top: rem-calc(-45);
}
.m-t-negative-120 {
    margin-top: rem-calc(-60);
    position: relative;
    @include breakpoint (medium) {
        margin-top: rem-calc(-120);
    }
    @media print {
        margin-top: rem-calc(50);
    }
}
.m-t-negative-140 {
    margin-top: rem-calc(-40);
    position: relative;
    @include breakpoint (medium) {
        margin-top: rem-calc(-140);
    }
    @include breakpoint(xlarge) {
        margin-top: -20vh;
    }
}
.m-t-negative-430 {
    margin-top: rem-calc(-50);
    position: relative;
    @include breakpoint (medium) {
        margin-top: rem-calc(-430);
    }
    
}
.m-t-negative-230 {
    margin-top: rem-calc(-90);
    position: relative;
    @include breakpoint (large) {
        margin-top: rem-calc(-230);
    }
    @include breakpoint(xlarge) {
        margin-top: -30vh;
    }
}


//  Alignment
.mobile-align-center {
    @include breakpoint (medium down) {
        text-align: center;
    }
}

.column-vertical-center {
    align-self: center;
}

.max-width-50perc {
    @include breakpoint(medium up) {
        max-width: 50%;
    }
}

.max-width-70perc {
    @include breakpoint(medium up) {
        max-width: 70%;
    }
}

.max-width-center {
    @include breakpoint(medium up) {
       margin-left: auto;
       margin-right: auto;
    }   
}

// Media and text element 
//    Icon max-width
.icon-max-width-28 {
    img {
        max-width: rem-calc(28) !important;
    }   
    .wp-block-media-text__content {
        padding-left: 0;
    }
}
.icon-max-width-35 {
    img {
        max-width: rem-calc(35) !important;
    }   
    .wp-block-media-text__content {
        padding-left: 0;
    }
}
.icon-max-width-50 {
    img {
        max-width: rem-calc(50) !important;
    }   
    .wp-block-media-text__content {
        padding-left: 0;
    }
}
.icon-max-width-80 {
    img {
        max-width: rem-calc(80) !important;
    }
}
.button-no-margin {
    a {
        margin-bottom: 0;
    }
}
.columns-no-margin {
    margin-bottom: 0;
}

.contain-text {
    @include breakpoint (medium) {
        max-width: 42% !important;
    }
}

.opacity-10 {
    opacity: 0.1;
}
.opacity-25 {
    opacity: 0.25;
}
.opacity-80 {
    opacity: 0.8;
}

p.p-t-370 {
    padding-top: rem-calc(130);
    @include breakpoint(medium) {
        padding-top: rem-calc(250);
    }
    @include breakpoint(large) {
        padding-top: rem-calc(370);
    }
    @include breakpoint(xlarge) {
        padding-top: 50vh;
    }
}

.contact-form-columns {
    max-width: 100%;
    width: 100% !important;
    margin: 0 !important;
    z-index: 100;
    @include breakpoint(medium) {
        position: absolute;
        right: rem-calc(15);
    }
    @include breakpoint(xlarge) {
        right: calc((100% - 1200px) / 2);
    }
}

.contact-us-boxes {
    .wp-block-media-text__content {
        display: flex;
        margin-top: auto;
        padding-bottom: rem-calc(5);
        margin-left: rem-calc(16);
    }

}

.large-font-size-26px {
    @include breakpoint(large) {
        font-size: rem-calc(26);
    }
}

.wp-block-hlwp-header.background-contained {
    background-position: bottom;
    background-size: rem-calc(340);
    @include breakpoint (medium) {
        background-position: 90% bottom;
        background-size: rem-calc(540);
    }
}

.contain-img-mb  {
    @include breakpoint (medium down) { 
        text-align: center;
        margin-bottom: 35px;
        figure{
            img {
                max-width: 60%;
    
            }
        }
    }
}

@include breakpoint (medium down) { 
    .media-text-mb-realign.wp-block-media-text {
        display: block;
        figure {
            max-width: 50%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
}