// padding and margin mixin 
$max: 120;
$offset: 10;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{rem-calc($i / 1.1)} !important;
      @include breakpoint(medium) {
        #{$styleName}: #{rem-calc($i)} !important;
      }
    }
    $i: $i + $offset;
  }
}
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-l-', 'margin-left');

@include breakpoint (medium down) {
  .mb-m-t-60 {
    margin-top: 60px;
  }
  .mb-m-b-45 {
    margin-bottom: 45px;
  }
  .mb-m-b-25 {
    margin-bottom: 25px;
  }
  .mb-m-b-20 {
    margin-bottom: 20px;
  }
  .mb-p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mb-p-t-35 {
    padding-top: 35px;
  }
}

// Adding classes for each color for gutenberg 
@mixin g-color-classes-base {
  @each $color, $code in $foundation-palette {

    .has-#{$color}-background-color {
        background-color: $code;
    }
  
    .has-#{$color}-color {
        color: $code;
    }
  }
  .has-white-background-color {
    background-color: $white;
  }
  
  .has-white-color {
    color: $white;
  }
  
  .has-massaro-blue-background-color {
    background-color: $massaro-blue;
  }
  .has-lime-color {
    color: $lime-green;
  }
  .has-massaro-blue-color {
    color: $massaro-blue;
  }
}

@mixin g-color-classes-and {
  @each $color, $code in $foundation-palette {

    &.has-#{$color}-background-color {
        background-color: $code;
    }
  
    &.has-#{$color}-color {
        color: $code;
    }
  }
  &.has-white-background-color {
    background-color: $white;
  }
  
  &.has-white-color {
    color: $white;
  }
  
  &.has-massaro-blue-background-color {
    background-color: $massaro-blue;
  }
  
  &.has-massaro-blue-color {
    color: $massaro-blue;
  }
}