.print-display-block {
  display: none;
}

@media print {
  $max: 350;
  $offset: 10;
  @mixin print-spacer-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
      #{$className + $i} { 
        #{$styleName}: #{rem-calc($i)} !important;
      }
      $i: $i + $offset;
    }
  }
  @include print-spacer-loop('.print-spacer-', 'margin-top');

  a[href]:after {
    content: "";
  }

  body .title-bar {
    position: relative;
  }

  body {
    .has-massaro-blue-background-color,
    .has-primary-background-color,
    .archive-hero,
    .case_study-template-default .featured-work-header,
    .featured-work-header {
      background-color: transparent;
      background-image: url('../images/square_grid_lightblue.svg');
      background-repeat: repeat;
      position: relative;
    }
  }


  body .site-header  {
    .top-bar-wrapper {
      position: relative;
    }
    .top-bar-right {
      display: none;
    }
  }

  .print-display-none {
    display: none !important;
  }

  body footer.site-footer {
    border-top: 1px solid $medium-gray;
    margin-top: 50px;
    background-color: transparent;
    .footer-socials {
      display: none;
    }
  }

  .print-display-block {
    display: block !important;
  }


  body .has-text-align-center, body .contain-text {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  body .listing-work {
    * {
      text-decoration: none;
    }
    .read-more {
      a {
        color: $white !important;
      }
    }
  }

  body .wp-block-button.is-style-outline, .wp-block-button.is-style-arrow-reverse {
    > a.wp-block-button__link {
      &.has-white-background-color {
        border-color: $massaro-blue !important;
      }
      &.has-white-color::after {
        background: no-repeat center url('../images/arrow-right-massaro-blue.svg') !important;    
      }
      &.has-secondary-background-color {
        border-color: $massaro-blue !important;
      }
      &.has-secondary-color::after {
        background: no-repeat center url('../images/arrow-right-massaro-blue.svg') !important;    
      }
    }
  }

  .wp-block-button {
    .wp-block-button__link {
      &.has-success-color {
        color: $success-color !important;
        strong {
          color: $success-color !important;
        }
      }
    }
  } 

  .print-invert-black {
    filter: brightness(0%);
  }

  body .featured-work-header {
    .featured-work-header-logo {
      filter: brightness(0%) !important;
      img {
        max-width: 55% !important;
      }
    }
  }

  body .resources-nav-container {
    .resources-nav-search {
      form {
        .input-group-button {
          input[type=submit] {
            color: transparent !important;
          }
        }
      }
    }
  }

  .resource-card {
    a, a:visited {
      text-decoration: none !important;
    }
    .resource-featured-img {
      .resource-date {
        p {
          color: $white !important;
        }
      }
    }
    .resource-read-more {
      color: $success-color !important;
    }
  }

  .g-quotes-outer {
    > .grid-x {
      position: relative !important;
      .cell {
        width: 100%;
        h2 {
          text-align: center;
          .owl-nav {
            display: none !important;
          }
          margin-bottom: rem-calc(85);
        }
      }
    }
    .g-quotes-slider {
      .owl-stage-outer {
        right: 0;
        .owl-stage[style] {
          display: flex !important;
          flex-wrap: wrap;
          justify-content: center;
          transition: none !important;
          width: auto !important;
          transform: none !important;
          .owl-item {
            margin-bottom: rem-calc(30);
            flex-basis: 40%;
            &.active:not(.center) {
              opacity: 1;
            }
            .wp-block-quote {
              border: none;
            }
          }
        }
      } 
    }
  }

  .massaro-experts {
    .massaro-experts-inner {
      flex-direction: row !important;
      justify-content: center !important;
      height: auto !important;
      .team-member {
        flex-basis: 40%;
        width: auto !important;
      }
    }
  }

  .single-bottom-bar {
    .next-post-link {
      a {
        text-decoration: none;
        color: $white !important;
      }
    }
  }

  body a.button.button-arrow.success {
    text-decoration: none;
    color: $success-color !important;
  }

  .single-post-taxonomies {
    .categories-container {
      @include xy-cell(4); 
    }
  }

  .archive {
    &.author {
      .author-content {
        main {
          @include xy-cell(7); 
        }
      }
    }
  }

  .contact-form-columns {
    display: none !important;
  }
  
  .fable-slider {
    .owl-stage-outer {
      .owl-stage[style] {
        display: flex !important;
        flex-direction: column;
        transition: none !important;
        width: 100% !important;
        transform: none !important;
        .owl-item[style] {
          margin-bottom: rem-calc(30);
          width: 95% !important;
          margin: auto;
          margin-right: auto !important;
          .wp-block-columns {
            min-height: auto;
            margin-bottom: 0;
            padding-top: rem-calc(50);
            padding-bottom: rem-calc(50);
            .am-prev, .am-next {
              display: none;
            }
            img {
              width: 80%;
            }
          }
        }
      }
    } 
    .owl-dots {
      display: none;
    }
  }

  .contact-info {
    margin-top: rem-calc(30) !important;
    margin-bottom: 0 !important;
  }

  .join-our-team-title {
    margin-top: 0 !important;
  }

  .when-you-hire[style] {
    background-color: transparent !important;
    border-top: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
  }

  .model-animation {
    display: none;
  }

  .capabilities-boxes {
    * {
      padding-right: unset !important;
      padding-left: unset !important;
    }
  }

  .massaro-results {
    text-align: center;
  }

  .print-text-align-left {
    text-align: left;
  }

  body .print-m-l-unset {
    margin-left: unset !important;
  }
  
  .p-l-0 > a.wp-block-button__link {
    padding-left: rem-calc(14);
  }

  .main-content-single {
    .event-content {
      @include xy-cell(7); 
    }
  }
}