/*!
 * Gutenberg Editor Styles
 */

/** === Includes === */

@charset 'utf-8';

@import 'settings';
@import 'foundation';


// Gutenberg Elements 
@import "components/gutenberg-components/g-header";
@import "components/gutenberg-components/g-slider";
@import "global/mixins";
@import "global/gutenberg";
@import "global/g-styles";
@import "components/buttons";
@import "components/forms";
@import "modules/listings";

@include foundation-typography;
@include foundation-button;
@include foundation-table;
@include foundation-xy-grid-classes;
@include foundation-global-styles;



/** === Content Width === */
.wp-block {
	width: calc(100vw - (2 * 10));
	@each $breakpoint, $size in $grid-margin-gutters {

		@include breakpoint($breakpoint) {
			width: calc(100vw - ($size));
		}

	}
}

/** === Base Typography === */
body {
	font-size: $global-font-size;
	font-family: $body-font-family;
	color: $body-font-color;
}

/** === Post Title === */
.editor-post-title__block .editor-post-title__input{
  @extend h1;
}

/** === Button === */
.wp-block-button {

	// add general foundation button styling to button in editor
	.wp-block-button__link {
		@extend .button;
	}

	// add special styling for squared buttons
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	// add outline styles
	&.is-style-outline .wp-block-button__link{
		@extend .hollow;
	}

	// set transparent background to block for outline button
	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
	}
}

/** === File === */
.wp-block-file__button{
	@include button();
}

/** === Pullquote === */
.wp-block-paragraph.has-background{
	padding: rem-calc(20px 30px);
}

/** === Table === */
.wp-block-table td{
	border: none;
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid{
	list-style: none;
}

.is-style-grid-green-background::after {
	background-image: url("../../content/themes/massaro/dist/assets/images/pattern_sqared_green.svg");
}
.is-style-grid-green-background {
	background-image: url("../../content/themes/massaro/dist/assets/images/square_grid_green.svg");
}
.wp-block-button > div[style] {
	background: transparent !important;
}

.is-style-outline {
	.has-massaro-blue-background-color {
		border: 2px solid $massaro-blue !important;
	}
	.has-white-background-color {
		border: 2px solid $white !important;
	}
	.has-success-background-color {
		border: 2px solid $success-color !important;
	}
}

.is-style-grid-lblue-background {
	background-image: url("../../content/themes/massaro/dist/assets/images/square_grid_lightblue.svg");
}

// .g-hero-admin::after {
// 	background: linear-gradient(to right, #fdfdfd 39.5%, rgba(253, 253, 253, 0) 64%);
// }