.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}

h1 {
  line-height: 1;
}
p {
  line-height: 1.25;
}
#map {
  width: 100%;
  height: rem-calc(600);
  z-index: 1;
}

// Fix for content + media element on IE
@media screen\0 { 
  .wp-block-media-text.ie-fix  {
      display: -ms-flexbox;
      .wp-block-media-text__media {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: rem-calc(20);
      }
  }  
}