.footer-container {
  @include xy-grid-container;
  p {
    line-height: 1.5;
  }
}

footer.site-footer {
  background-color: $footer-background;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(30);
  overflow: hidden;
  *:not(.notice) {
    color: $white;
  }
  .notice {
    margin-top: rem-calc(50);
    margin-bottom: 0;
    small {
      color: #62717C;
      font-size: rem-calc(14);
    }
  }
  .footer-location {
    font-size: rem-calc(14);
  }
  .footer-menu-left ul,
  .footer-menu-right ul {
    align-items: flex-start;
    a {
      color: $white;
      font-weight: $global-weight-bold;
      padding-left: 0;
      margin-top: rem-calc(6);
      margin-bottom: rem-calc(6);
      margin-right: 0;
      margin-left: 0;
      @include breakpoint (medium) {
        padding-left: inherit;
        margin: 0;
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    li.is-active {
      a {
        color: $white;
      }
    }
  }
  .footer-socials {
    margin-top: rem-calc(5);
    a {
      display: inline-block;
      margin-right: rem-calc(10);
      @include breakpoint(medium) {
        display: block;
        margin-right: 0;
      }
    }

  }
  .link {
    &-linkedin {
      > span {
        background-image: url('../images/linkedin-brands.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2.125rem;
        width: 2.125rem;
        display: block;
        margin-bottom: rem-calc(22);
        @include breakpoint (medium) {
          height: rem-calc(18);
          width: rem-calc(18);
        }
      }
    }
    &-twitter {
      > span {
        background-image: url('../images/twitter-brands.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2.125rem;
        width: 2.125rem;
        display: block;
        margin-bottom: rem-calc(22);
        @include breakpoint (medium) {
          height: rem-calc(18);
          width: rem-calc(18);
        }
      }
    }
    &-facebook {
      > span {
        background-image: url('../images/facebook-square-brands.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2.125rem;
        width: 2.125rem;
        display: block;
        margin-bottom: rem-calc(22);
        @include breakpoint (medium) {
          height: rem-calc(18);
          width: rem-calc(18);
        }
      }
    }
  }
}

.footer-grid {
  @include xy-grid;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }
  // spacing between the cells in the footer
  > div {
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
