// Default listing (Archive)
.resource-card {
    display: flex;
    flex-direction: column;
    margin-bottom: rem-calc(75);
    .resource-featured-img {
      min-height: rem-calc(179);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .resource-date {
      margin-top: rem-calc(18);
      margin-left: rem-calc(18);
      border: 1px solid $white;
      padding: rem-calc(12);
      display: inline-block;
      font-size: rem-calc(13);
      color: $white;
      text-align: center;
      text-transform: uppercase;
      p:first-of-type {
        font-size: rem-calc(16);
      }
      p {
        margin-bottom: 0;
      }
    }
    .resource-title {
      margin-top: rem-calc(18);
      font-weight: $global-weight-bold;
      color: $massaro-blue;
    }
    .resource-excerpt {
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(22);
      color: $massaro-blue;
    }
    .resource-read-more {
      margin-top: auto;
      align-self: flex-start;
    }
}

// Featured work listing
.listing-work {
  a {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: rem-calc(35);
    min-height: rem-calc(360);
    > *:not(.read-more) {
      padding-left: rem-calc(35);
      padding-right: rem-calc(35);
  }
  }
    &:hover {
      background-color: $success-color;
      color: $white;
      transition: all 0.5s ease;
      h3, p {
        color: $white;
      }
      .listing-thumbnail {
          filter: brightness(0) invert(1);
      }
    }
    transition: all 0.5s ease;

    background-color: $white;
    text-align: center;
   
    
    a { color: $body-font-color ;}
    .work-excerpt {
      margin-bottom: rem-calc(25);
    }
    @media screen\0 { 
      .work-excerpt { 
          min-height: rem-calc(100);
      } 
    }
    .listing-thumbnail {
        margin-top: auto;
        margin-bottom: rem-calc(25);
        margin-left: rem-calc(50);
        width: calc(100% - 100px);         
        height: rem-calc(50);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;        
    }
    .read-more {
        height: rem-calc(40);
        background: $success-color;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
            font-size: rem-calc(14);
            text-transform: uppercase;
            font-weight: $global-weight-bold;
        &::after {
            content: '';
            width: rem-calc(18);
            height: rem-calc(12);
            margin-right: rem-calc(16);
            position: relative;
            margin-left: rem-calc(8);
            display: inline-block;
            background-image: url('../images/arrow-right-white.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            // transition: top .15s ease-out;
        }
    }
}
.listing-work-grid {
  .listing-work {
    border: 1px solid $light-gray;
    &:hover {
      border: 1px solid $success-color;
    }
  }
}

.job-listing > .wp-block-column {
  border: 2px solid $secondary-color;
  padding-top: rem-calc(50);
  padding-right: rem-calc(40);
  padding-bottom: 0;
  padding-left: rem-calc(40);
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
  .wp-block-columns {
    margin-top: auto;
    .button-wrapper {
      order: 2;
      @include breakpoint(medium) {
        order: 1;
      }
    }
    .date-posted {
      align-self: center;
      @include breakpoint(medium) {
        order: 2;
      }
      p {
        text-align: left;
        margin-top: rem-calc(20);
        @include breakpoint(medium) {
          text-align: right;
          margin-top: 0;
        }
        img {
          margin-right: rem-calc(13);
        }
      }
      
    }
  }
}

.listing-jobs {
  border: 2px solid #D1E317;
  padding-top: rem-calc(50);
  padding-right: rem-calc(40);
  padding-bottom: rem-calc(40);
  padding-left: rem-calc(40);
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(20);
  height: 100%;
  min-height: rem-calc(420);
  a {
    color: $black;
    &:hover {
      opacity: 0.8;
    }
  }
  h4 {
    margin-bottom: rem-calc(30);
    font-weight: $global-weight-bold;
  }
  .see-more a {
    border-radius: 0;
    font-weight: $global-weight-bold;
  }
  .see-more {
    margin-top: auto;
  }
}