.massaro-experts {  
  
  .massaro-experts-inner {
    // overflow-x: scroll;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    // margin-left: -15px;
    // margin-right: -15px;
    .team-member {
      // min-height: rem-calc(380);
      flex-basis: 100%;
      padding-right: rem-calc(15);
      padding-left: rem-calc(15);
      margin-bottom: rem-calc(50);
      display: flex;
      flex-direction: column;
      align-items: center;      
      @include breakpoint(medium) {
        flex: 0 50%;
        flex-basis: auto;
        width: 50%;
      }
      @include breakpoint(large) {
        flex: 0 33%;
        flex-basis: auto;
        width: 33%;
      }
      @include breakpoint(xlarge) {
        flex: 0 25%;
        flex-basis: auto;
        width: 25%;
      }
      .team-member-img {
        width: 50%;
        padding-bottom: 50%;
        @include breakpoint(large) {
          width: 100%;
          padding-bottom: 100%;
        }
        height: 0;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
      }
      .team-member-name {
        margin-top: rem-calc(16);
        margin-bottom: 0;
        width: 100%;
        text-align: center;
      }
      .team-member-job-position {
        font-size: rem-calc(14);
        text-align: center;
        width: 100%;
      }
      .team-member-bio {
        margin-top: rem-calc(12);
        text-align: center;
        width: 100%;
      }
      .links {
        display: flex;
        align-items: center;
        margin-top: auto;
        .team-member-linkedin {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: rem-calc(35);
          width: rem-calc(35);
          display: block;
          background-image: url('../images/linkedin-icon-black.svg');
          margin-right: rem-calc(24);
        }
        .button {
          margin-bottom: 0;
        }
      }
    }
  }
}