// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}


.site-header {
  li.menu-item {
    a {
      color: $medium-gray;
      display: inline-block;
      &:hover {
        color: $black;
      }
    }
    &.current-menu-item {
      > a {
        color: $black;
        font-weight: $global-weight-bold;
      }
    }
    &.menu-item-has-children {
      > a {
        margin-right: 0;
        padding-right: 0;
      }
      .submenu-toggle {
        right: auto;
        &::after {
          content: '';
          background-image: url('../images/chevron-right.svg');
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          width: rem-calc(19);
          height: rem-calc(19);
          border: none;
        }
      }
    }
    &.is-dropdown-submenu-parent {
      .dropdown {
        background-color: $white;
        font-weight: $global-weight-normal;
        border: none;
        border-left: 4px solid $black;
      }
    }
  }

  .top-bar-wrapper {
    background-color: $white;
    position: fixed;
    left: 0;
    right: 0;
    top: rem-calc(52);
    z-index: 1000;
    @include breakpoint(medium) {
      top: 0;
      box-shadow: 0px -2px 7px 6px rgba(0, 0, 0, 0.15);
      background-color: $top-bar-wrapper-background;
    }
    .highlighted {
      margin-left: rem-calc(10);
      > a {
        @extend .button;
        @extend .secondary;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
        color: $black;
        margin-bottom: 0;
      }
    }
  }
}

#menu-mobile-menu {
  li.menu-item-has-children {
    &.open {
      > a {
        &::after {
          transform: translateY(-50%) rotate(90deg);
          transition: all .25s ease;
        }
      }
    }
    > a {
      position: relative;
    }
  }
}

.desktop-menu {
  align-items: center;
  position: relative;
  li.menu-item-has-children {
    > a {
      position: relative;
      &:hover {
        &::after {
          transform: translateY(-50%) rotate(90deg);
          transition: all .25s ease;
        }
      }
    }
  }
}

.title-bar {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.menu-icon-nav  {
  background-image: url('../images/menu_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: rem-calc(22);
  height: rem-calc(22);
  position: relative;
}