$box-animation-speed: 1500ms;

// Home page animation

.box-animation, .box-animation[data-scroll="out"] {
    #eapbt6bgil324_to {
        transform: translate(-53.660005px, 92.209347px);
        transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil324 {
            opacity: 0;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil360_to {
            transform: translate(86.023447px, 4.109613px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil360 {
            opacity: 0;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil395_to {
            transform: translate(-49.490000px, 33.339097px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil395 {
            opacity: 0;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil3112_to {
            transform: translate(46.900000px, 91.050480px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3113_to {
            transform: translate(-49.360000px, 98.103173px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3115_to {
            transform: translate(-1.210000px, 59.953173px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3116_to {
            transform: translate(-40.525000px, 23.220000px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3117_to {
            transform: translate(108.550000px, 60.398173px);
            transition: transform $box-animation-speed ease-in-out;
    }
}


.box-animation, .box-animation[data-scroll="in"] {
    #eapbt6bgil324_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil324 {
            opacity: 1;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil360_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil360 {
            opacity: 1;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil395_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil395 {
            opacity: 1;
            transition: opacity $box-animation-speed/2 ease-in-out $box-animation-speed/2;
    }

    #eapbt6bgil3112_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3113_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3115_to {
            transform: translate(0.560000px, 0.272711px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3116_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }

    #eapbt6bgil3117_to {
            transform: translate(0px, 0px);
            transition: transform $box-animation-speed ease-in-out;
    }
}

// Engagement model

.model-animation {
    $model-animation-speed: 750ms;
    $secondary-amination-delay: 700ms;
    // &[data-scroll="out"] {
        #ebd5fgb1sqn2, #ebd5fgb1sqn6 {            
            opacity: 0;
            transition: opacity $model-animation-speed/2 linear;            
        }

        #ebd5fgb1sqn43_to {
            transform: translate(-27.949000px, 171.344000px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn43_ts {
            transform: scale(1.100000, 1.100000);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn44_to {
            transform: translate(-249.275500px, 146.295000px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn46_to {
            transform: translate(-564.946500px, -312.939000px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn46_ts {
            transform: scale(1.100000, 1.100000);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn48_to {            
            transform: translate(0px, 0px);       
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn48 {
            opacity: 1;
            transition: opacity $model-animation-speed linear;
        }

        #ebd5fgb1sqn49 {
            opacity: 0;
            transition: opacity $model-animation-speed linear;
        }
    // }
    &[data-scroll="in"] {
        #ebd5fgb1sqn2, #ebd5fgb1sqn6 {            
            opacity: 1;
            transition: opacity $model-animation-speed/2 linear;
            transition-delay: $secondary-amination-delay;
        }

        #ebd5fgb1sqn43_to {
            // transform: translate(-27.949000px, 171.344000px);
            transform: translate(0, 0);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn43_ts {
            // transform: scale(1.100000, 1.100000)
            transform: scale(1, 1);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn44_to {
            // transform: translate(-249.275500px, 146.295000px)
            transform: translate(0px, 0px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn46_to {
            // transform: translate(-564.946500px, -312.939000px)
            transform: translate(0px, 0px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn46_ts {
            // transform: scale(1.100000, 1.100000)
            transform: scale(1, 1);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn48_to {            
            // transform: translate(0px, 0px)
            transform: translate(3.770000px, -392.735000px);
            transition: transform $model-animation-speed linear;
        }

        #ebd5fgb1sqn48 {
            // opacity: 1
            opacity: 0;
            transition: opacity $model-animation-speed linear;
        }

        #ebd5fgb1sqn49 {
            // opacity: 0
            opacity: 1;
            transition: opacity $model-animation-speed linear;
            transition-delay: $secondary-amination-delay;
        }
    }
}