.g-hero {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;
    @include breakpoint (medium) {
        // background-position: right;
        background-size: 60%;
        background-position: right;
    }
    &.resources-header {
        .g-hero-inner {
            min-height: rem-calc(300);
            @include breakpoint(medium) {
                min-height: rem-calc(360);
                padding-top: 0;
                padding-bottom: 0;
            }
            h1 {
                padding-top: rem-calc(70);
            }
            img {
                max-width: 85%;
                display: flex;
                margin: auto;
                margin-top: rem-calc(50);
            }
            
        }
    }
    .g-hero-inner {
        min-height: rem-calc(575);
        max-height: rem-calc(600);
        align-items: center;
        position: relative;
        z-index: 20;
        @include breakpoint(medium) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    @media screen\0 { 
        .g-hero-inner { 
            height: rem-calc(575);
        } 
    }
    &.is-style-blue-grid-overlay {
        background-image: url('../images/square_grid.svg');
        background-repeat: repeat;
        background-position: center center;
    }
    &.is-style-lower-height-overlay {
        .g-hero-inner {
            min-height: rem-calc(500);            
        }
    }
    
    &.is-style-has-overlay {
        &::after {
            content: '';   
            width: 100%;      
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 5;
            background: linear-gradient(to bottom, rgba(253,253,253,.98) 49%, rgba(253, 253, 253, 0) 64%);
            @include breakpoint (medium) {
                background: linear-gradient(to right, rgba(253,253,253,1) 3.5%, rgba(253, 253, 253, 0) 64%);
                right: 10%;
                width: 50%;
            }
        }
    }
    @include breakpoint (medium down) {
        &.is-style-has-overlay:not(.background-contained) {
            .g-hero-inner {
                min-height: rem-calc(450);
            }
        }
    }
    &.g-hero-admin {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: rem-calc(15);
        padding-left: rem-calc(15);
    }
} 

.home {
    .g-hero {
        background-color: $light-gray;
    }
}