.g-quotes-outer {
    position: relative;
    > .grid-x:first-of-type {
        top: rem-calc(70);
        left: 0;
        @include breakpoint (medium) {
            position: absolute;
        }
    }
    .owl-nav {
        display: block !important;
        margin-top: rem-calc(40);
        .left-nav {
            background-image: url('../images/arrow-right-massaro-blue.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: scale(-1);
            height: rem-calc(25);
            width: rem-calc(25);
            margin-right: rem-calc(25);
            cursor: pointer;
        }
        .right-nav {
            background-image: url('../images/arrow-right-massaro-blue.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: rem-calc(25);
            width: rem-calc(25);
            cursor: pointer;
        }
    }
}
.g-quotes-slider {
    .owl-stage-outer {
        position: relative;
        padding-top: rem-calc(50);
        @include breakpoint (medium) {
            right: -20%;
        }
        .owl-stage {
            display: flex;
            align-items: stretch;
        }
    }
    .owl-item {
        background-color: $success-color;
        padding-top: rem-calc(50);
        padding-left: rem-calc(35);
        padding-right : rem-calc(35);
        padding-bottom: rem-calc(30);
        min-height: rem-calc(305) !important;
        .wp-block-quote {
            position: relative;
            overflow: visible;
            border-left: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            img {
                max-height: 38px;
                margin-top: 10px;
                width: auto;      
            }
            .quotes-avatar-border {
                order: 2;
                &::after {
                    content: '';
                    display: block;
                    background-color: #08A1D9;
                    width: 100%;
                    margin-top: 15px;
                    height: 1px;
                }
                .quote-avatar-image {
                    filter: grayscale(1);
                }
            }
            cite {
                order: 1;
                font-style: normal;
                text-transform: uppercase;
                &::before {
                    content: '';

                }
            }
            p {
                order: 3;
                margin-top: auto;
            }
            p,cite {
                color: $black;
                font-weight: $global-weight-bold;
            }
            &::after {
                content: '';
                background-image: url('../images/quotes.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                position: absolute;
                top: rem-calc(-70);
                right: rem-calc(-20);
                font-size: rem-calc(130);
                font-weight: $global-weight-bold;
                color: $body-font-color;
                width: rem-calc(50);
                height: rem-calc(45);
            }
        }
        &.active:not(.center) {
            opacity: 0.5;
        }
    }
}