body div.wp-block-hlwp-slider-block.fable-slider {
    .wp-block-columns {
        width: 100%;
        @include breakpoint (medium) {
            min-height: 57vh;
        }
        img {
            max-height: rem-calc(450);
            max-width: rem-calc(500);
        }
        .wp-block-column {
            padding: 25px;
            p {
                width: 100%;
            }
            > *:first-child {
                margin-top: auto;
            }
            &:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                .wp-block-button {
                    margin-top: auto;
                }
                @include breakpoint (medium) {
                    align-items: flex-start;
                    height: 100%;
                }
            }
        }
    }
    .owl-dots {
        @include breakpoint (medium) {
            transform: rotate(90deg);
            transform-origin: right;
            width: rem-calc(600);
            position: absolute;
            right: 0;
        }
        .owl-dot {
            span {
                border-radius: 0;
                background-color: $success-color;
                opacity: 0.4;
            }
            &.active {
                span {
                    background-color: $success-color;
                    opacity: 1;
                }
            }
        }
    }
}